.pio/
.pioenvs/
.piolibdeps/
.vscode/
compile_commands.json

node_modules/
npm-debug.log*

# PlatformIO's virtualenv, created by ./bootstrap.sh
.venv/

*~
.DS_Store

# clangd index (binary, machine-specific)
.cache/
